<header id="header">
    <div class="container clearfix padding-15">
        <div class="row header-top-desktop">
            <div class="col-md-2 text-center">
                <a href="#">
                   <img src="img/VideoHub.png" alt="Video Hub" title=""> 
               </a>
            </div>
            <div class="col-md-10">
            	//=include desktop_nav.html

            </div>
        </div>
        <div class="row header-top-mobile">
            <div class="header-top-mobile-block">
                <a href="#" class="logo-mobile">
                    <img src="img/VideoHub.png" alt="Video Hub" title="">
                </a>
                //=include mobile_nav.html

            </div>
        </div> 
    </div>
</header>
