<div class="navbar" id="fixed-navbar"> 
  <!--========== BEGIN MAIN-MENU .NAVBAR-COLLAPSE COLLAPSE #FIXED-NAVBAR-TOOGLE ==========-->
  <div class="main-menu nav navbar-collapse collapse" id="fixed-navbar-toggle"> 
    <!-- Begin .nav navbar-nav -->
    <ul class="nav navbar-nav">
      <!--========== BEGIN .DROPDOWN ==========-->
      <li class="dropdown">
        <a href="#">Blog</a>
        <ul class="dropdown-menu">
          <li><a href="#">Article 1 Article 4 Article 4 Article 4 Article 4</a></li>
          <li><a href="#">Article 2</a></li>
          <li><a href="#">Article 3</a></li>
          <li><a href="#">Article 4</a></li>
          <li><a href="#">Article 5</a></li>
          <li><a href="#">Article 6</a></li>
          <li><a href="#">Article 7</a></li>
        </ul>
      </li>
      <!--========== END .DROPDOWN ==========-->
      <!--========== BEGIN .DROPDOWN ==========-->
      <li class="dropdown">
        <a href="#">Categories</a>
        <ul class="dropdown-menu">
          <li><a href="#">Categories 1 Categories 1 Categories 1</a></li>
          <li><a href="#">Categories 2</a></li>
          <li><a href="#">Categories 3</a></li>
          <li><a href="#">Categories 4</a></li>
          <li><a href="#">Categories 5</a></li>
          <li><a href="#">Categories 6</a></li>
          <li><a href="#">Categories 7</a></li>
        </ul>
      </li>
      <!--========== END .DROPDOWN ==========-->
      <li><a href="#">Videos</a></li>
      <li><a href="#">Video Ads</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Modules</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">BuddyPress</a></li>
      <!--========== BEGIN .DROPDOWN ==========-->
      <li class="dropdown">
        <a href="#">My Account</a>
        <ul class="dropdown-menu">
          <li><a href="#">My Account 1 My Account 2 My Account 3 My Account 4 My Account 5 My Account 6 My Account 7</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
          <li><a href="#">Page 4</a></li>
          <li><a href="#">Page 5</a></li>
          <li><a href="#">Page 6</a></li>
        </ul>
      </li>
    </ul>
    <!-- End .nav navbar-nav -->
  </div>
  <!--========== END MAIN-MENU .NAVBAR-COLLAPSE COLLAPSE #FIXED-NAVBAR-TOOGLE ==========-->
</div>      