$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

//= scss/templates/footer.scss
//= scss/templates/header.scss
//= scss/templates/menu.scss
//= scss/templates/slider.scss
