/* 1.1 - Header Styles
    -----------------------------------------------------------------*/
$black-color: #000000;
$white-color: #ffffff;

.header-top{
	height: 80px;
	padding: 10px 0 0 0;
}

.header-logo{
	font-size: 32px;
	align-items: flex-end;
}

.main-navbar{
	font-size: 18px;
}

.navbar-toggle{
	display: block;
	height: 40px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0;
    background-color: $black-color;
}

#main-menu{
	position: relative;
	z-index: 100;
}

#main-menu a{
	color: $black-color;
}

#main-menu a:hover{
	text-decoration: underline;
}

.navbar-toggler{
	background-color: $white-color;
}

.navbar-nav{
	background-color: $white-color;
	border-radius: 10px;	
}

.navbar-toggler-right{
	top: -35px;
}
