/* 2.0 - Header Styles
    -----------------------------------------------------------------*/

/* 2.1 Page Loading
-----------------------------------------------------------------*/
#pageloader {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #FFF;
	z-index: 999999;
}
.loader-item {
	position: absolute;
	width: auto;
	height:height;
	margin: -25px 0 0 -25px;
	top:50%;
	left:50%;
	text-align:center;
}
.loader-item h2 {
	color:#ccc;
	margin:0 auto;
	font-size:20px;
}



/* 2.2 Top Header Styles
-----------------------------------------------------------------*/

.header-top{
	height: $header-top-height;
}
.header-logo{
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}



