/* 2.3 - navbar 
-----------------------------------------------------------------*/

.navbar-nav{
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	width: 75%;
}

.nav{
	height: $header-top-height;
}

#fixed-navbar{
	height: $header-top-height;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.nav>li {
    position: relative;
    text-transform: capitalize;
    white-space: nowrap;
    word-wrap: normal;
    padding: 0 5px;
}

.nav>li>a {
	font-size: 18px;
	color: $black-color;
}


.sidenav {
	display: none;
	font-size: 1.4rem;
	font-weight: 400;
	width: 100%;
	z-index: 999;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll!important;
}

/* 2.4 - dropdown-menu
-----------------------------------------------------------------*/
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	padding: 0;
	margin: 2px 0 0;
	text-align: left;
	list-style: none;
	background-color: $white-color;
	border: 1px solid $border-color;
	border-radius: 5px;
}

.dropdown-menu > li{
	word-wrap: break-word !important;
	overflow-wrap: break-word !important;
	white-space: pre-wrap !important; 
	width: 250px;
}

.dropdown-menu > li > a {
	font-size: 14px;
	display: block;
	padding: 10px 15px;
	clear: both;
	font-weight: 400;
	color: $black-color;;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out; 
}

#fixed-navbar-toggle li ul {
	display: block;
	left: 0;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 800ms ease;
	-moz-transition: 800ms ease;
	-o-transition: 800ms ease;
	transition: 800ms ease; 
	margin-top: 5px;
}
#fixed-navbar-toggle ul > li:hover ul {
	visibility: visible;
	opacity: 1;
}
.nav ul:before, .nav ul:after {
	content: "";
	display: table;
}
.nav ul:after {
	clear: both;
}

/* 2.5 - mobile-menu
-----------------------------------------------------------------*/
#mobile-nav{
	display: none; 
}

.navbar-toggle {
    margin: 0;
    border-radius: 3px;
    padding: 5px 9px;
    border: 1px solid #ddd;
    background: $white-color;
    display: block; 
    margin-top: 5px;
    z-index: 1000;
    cursor: pointer;
}

.navbar-toggler-right{
	right: 10px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    position: relative;
    background-color: #888;
    margin: 5px 0 5px 0;
}

.sidenav {
	background: rgba(44, 44, 52, 1);
	font-size: 1.4rem;
	font-weight: 400;
	left: 0;
	transform: translate(-100%, 0);
	transition: transform .3s;
	width: 100%;
	z-index: 999;
	height: 100%;
	position: fixed;
	overflow-y: scroll!important;
	-webkit-overflow-scrolling: touch;
	top: 0;
	bottom: 0;
}

.sidenav.show {
	transform: translate(0, 0);
}

.sidenav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidenav-menu li {
	display: block;
	position: relative;
	border-bottom: 1px solid rgba(161, 161, 179, .23);
	text-transform: uppercase;
}

.sidenav-menu li a:hover {
	color: $white-color !important;
}


.sidenav-menu a {
	background: 0 0;
	color: rgba(255, 255, 255, .6);
	letter-spacing: .3px;
	text-transform: uppercase;
	display: block;
	line-height: 22px;
	padding: 16px 22px;
	overflow-x: hidden;
} 

.sidenav-menu .icon-sub-menu {
	position: absolute;
	top: 0;
	right: 0;
	height: 54px;
	width: 54px;
	border-left: 1px solid rgba(161, 161, 179, .23);
	cursor: pointer;
}

.sidenav-dropdown-icon {
	display: none;
	height: 16px;
	right: 20px;
}

.sidenav-dropdown-icon.show {
	display: block;
}

.sidenav-dropdown-icon.show::after {
	font-family: 'FontAwesome';
	content: "\f107";
	right: 1px;
	font-size: 18px;
	color: rgba(161, 161, 179, .73);
	position: absolute;
	text-align: center;
}

.sidenav-dropdown-icon.up-icon::after {
	font-family: 'FontAwesome';
	content: "\f106"; 
	right: 1px;
	font-size: 18px;
	color: $white-color;
	position: absolute;
	text-align: center;
	padding: 14px 20px;
}

.sidenav-dropdown-icon {
	color: #757575;
	position: absolute;
	text-align: center;
	top: 16px;
}

.sidenav-dropdown-icon.up-icon{
	background: $red-color;
}

.icon-sub-menu .up-icon {
	position: absolute;
	top: 0;
	right: 0;
	height: 54px;
	width: 54px;
	color: $white-color;
}

.sidenav-menu a:hover {
	background: #55555e;
	color: $white-color!important;
}

.sidenav-menu a.active {
	color: #FAFAFA;
}

.sidenav-dropdown {
	display: none;
	list-style: none;
	padding: 0;
	background-color: #5c5c66;
}

.sidenav-dropdown a {
	padding-left: 22px;
}

.sidenav-dropdown a:hover {
	color: #FFF;
}

.sidenav-dropdown li:first-child a {
	box-shadow: inset 0 1px 1px rgba(92, 92, 92, .23);
}

.sidenav .icon-bar {
	background-color: #888;
}

.sidenav-brand {
    background: $white-color;
    color: #FAFAFA;
    font-weight: 400;
    padding: 0;
    height: 110px;
    width: 100%;
}

.sidenav-header-logo{
	padding: 10px 0 0 0;
}

.header-top-mobile{
	display: none;
}

